/*body {
	border: 2px solid black;
}*/

.toplevel {
	/*background: url(images/kv_portrait.jpg) no-repeat;*/
	height: 420px;
	max-width: 100%;
	border-bottom: 12px solid black;
	position: relative;
}

.blackbar {
	position: relative;
}

h1 {
	font-family: arial, sans-serif;
	font-size: 5em;
	color: white;
	text-align: center;
	position: absolute;
	bottom: -12px;
	margin-left: 13%;
}
.buttons {
	height: 100px;
	max-width: 480px;
	text-align: center;
	margin: 36px 0 48px 0;
}
a {
	font-family: 'arvo', serif;
	font-size: 1.4em;
	text-decoration: none;
	text-shadow: 4px 4px 4px #686868;
	color: white;
}
.contact a {
	background-color: #0099ff;
	padding: 6 40 6 40px;
}
.portfolio a {
	background-color: #ffcc00;
	padding: 6 36 6 36px;
}
.retailsite a {
	background-color: #ff0066;
	padding: 6 28 6 28px;
}

li {
	margin: 24 0 24 0;
}

@media screen and (min-width: 500px) {

	.toplevel {
		border-bottom: 32px solid black;
		max-width: 100%;
		height: 100%;
	}
	.toplevel img {
		height: 100%;
	}
	h1 {
		font-size: 7em;
		letter-spacing: .05em;
		bottom: -18px;
	}
	.buttons {
		position: absolute;
		right: 120px;
		top: 180px;
	}
}
