.navbar-new {
  font-size: 1.2em;
}

.jumbotron {
  margin: 0 auto;
  background-image: url(images/html_css_bg.png);
 /* background-color: #585858;*/
  text-align: center;
  height: 200px;
}

.subhead {
  font-size: 3.2em;
  font-family: 'Parisienne';
  text-align: center;
  background-color: #3399ff;
  border-radius: 50px;
  padding: 4px 0 4px 0;
  color: white;
  letter-spacing: .02em;
}

.heading {
  text-align: center;
}

.jumbotron h1 {
  font-size: 3.8em;
  font-family: 'Varela Round', sans-serif;
  color: white;
  text-shadow: 6px 6px 16px black;
  letter-spacing: .3em;
}

p {
  font-size: 1.3em;
  font-family: 'Varela Round', sans-serif;
}

.col-md-4 {
  font-size: 1em;
}
.col-md-4 .season {
  font-size: 1.8em;
  font-family: 'Varela Round', sans-serif;
  color: #505050;
  margin: .5em 0 0 0;
}
.col-md-12 .season {
  font-size: 1.8em;
  font-family: 'Varela Round', sans-serif;
  color: #505050;
  margin: .5em 0 0 0;
}
.col-md-6 .season {
  font-size: 1.8em;
  font-family: 'Varela Round', sans-serif;
  color: #505050;
  margin: .5em 0 0 0;
}

.bio {
  font-size: 1.6em;
  font-family: 'Varela Round', sans-serif;
  line-height: 170%;
}

.spacer {
  margin-top: 2em;
}
.thumbnail {
  margin-bottom: .5em;
}
h2 {
  font-family: 'Varela Round', sans-serif;
  font-size: 1.7em;
  color: white;
  text-transform: uppercase;
  letter-spacing: .1em;
  background-color: #3399ff;
  padding: 12px 0px 8px 20px;
  margin-bottom: .9em;
  border-radius: 30px;
}

@media screen and (max-width: 500px) {

.jumbotron h1 {
  font-size: 3em;
}
.subhead {
  font-size: 2.3em;
  padding: 0 1em 0 1em;
}
.col-md-4 .season {
  font-size: 1.2em;
  font-family: 'Varela Round', sans-serif;
  color: #505050;
  margin: .5em 0 0 0;
}
.col-md-12 .season {
  font-size: 1.2em;
  font-family: 'Varela Round', sans-serif;
  color: #505050;
  margin: .5em 0 0 0;
}
.col-md-6 .season {
  font-size: 1.2em;
  font-family: 'Varela Round', sans-serif;
  color: #505050;
  margin: .5em 0 0 0;
}

}
