
.navbar-new {
	font-size: 1.2em;
}

.jumbotron {
	background-color: #707070;
	color: white;
}
.first {
	margin: 1.8em 0 0 0;
}

.jumbotron h1 {
	font-size: 5em;
	font-family: 'Belleza', sans-serif;
	color: white;
	text-transform: uppercase;
	letter-spacing: .3em;
}

.season {
	font-size: 1em;
	font-weight: bold;
	color: #505050;
}
.col-md-3 {
	font-size: 1em;
}

.bio {
	font-size: 1em;
}
